<!-- <div>
    <label for="user">Post Author</label>
    <select name="user" id="user" required>
        <option value="">-- Select a User --</option>
        < users.forEach(u => { %>
            <option 
                value="<= u.id %>" 
                <= (post.user && post.user.toString() === u.id.toString()) ? 'selected' : '' %>
            >
                < u.name %>
            </option>
        < }) %>
    </select>
</div> -->

<div>
    <label for="itemname">
        Item Name
    </label>
    <input type="text" id="itemname" name="title" value="<%= post.title %>" >
</div>


<div>
    <label for="description" >
         Description
    </label>                        
    <textarea name="description" id="description" rows="4"><%= post.description %></textarea>
 </div>                                   

<div>
    <label for="type">
        Type
    </label>
    <select name="type" id="type" >
        <option value="Lost" <%= post.type === 'Lost' ? 'selected' : '' %>>Lost</option>
        <option value="Found" <%= post.type === 'Found' ? 'selected' : '' %>>Found</option>
    </select>
</div>

<!-- <div>
    <label for="category">Category</label>
    <select name="category" id="">
        //< categories.forEach(category => { %>
            < if (category.id === post.category) { %>
                <option selected label="<= category.name %>" value="<= category.id %>"></option>
            < } else { %>
                <option label="<= category.name %>" value="<= category.id %>"></option>
            < } %>
        < }) %>
    </select>
</div> -->
<!-- <div>
    <label for="location">location</label>
    <input type="text" name="location" value="<%= post.location %>">
</div> -->
<div>
    <label for="location" >
        Location
    </label>
    <input type="text" id="location" name="location" value="<%= post.location %>" >
</div>

<div>
    <label for="status" >
        Status
    </label>
    <select name="status" id="status" >
        <option value="active" <%= post.status === 'active' ? 'selected' : '' %>>Active</option>
        <option value="found" <%= post.status === 'found' ? 'selected' : '' %>>Found</option>
    </select>
</div>

<div>
    <label for="cover-image">
        Cover Image
    </label>
    <div>
        <input type="file" id="cover-image" name="cover_image" >
            <div>
                <p >Click to upload new image</p>
            </div>
    </div>
</div>

