<main id="view-container">
    <header>
        <h1 id="view-title" >Community Board</h1>
        <p>Helping you reconnect with your belongings.</p>
    </header>

    <section >
        
        <div>
            <button>All Items</button>
            <button>Lost</button>
            <button>Found</button>
        </div>
        
        <div>
            <div>
                <input type="text" placeholder="Search keys, wallets, pets...">
            </div>
            <button onclick="window.location.href='/category'">
                <span>Category</span>
            </button>
            <button onclick="window.location.href='/post/new'">
                <span>Post Item</span>
            </button>
        </div>
    </section>

    
</main><br>

<main id="the-view">
    <div id="content-area">
        <% posts.forEach(post => { %>
            <div class="post">
                <section>
                    <% if (post.cover_image) { %>
                        <img src="/uploads/postCovers/<%= post.cover_image %>" width="500">
                    <% } %>
                    <h3><%= post.title %></h3>
                    <p><%= post.description %></p>
                    <small><%= post.type %> - <%= post.location %></small>
                   
                </section>
            </div><br><br>
        <% }) %>
    </div>
</main>